@@include('parts/header.html')
<section class="chemic">
    <div class="chemic__title">
        <h1>Динамика изменения уровня подземных вод в скважине (м)</h1>
        <p class="subtitle">Изменение: 2021-08-03 12:07:14</p>
        <p class="subtitle">Статус: не одобрен</p>
    </div>
    <div class="top__table__style chemic__top">
        <select name="" class="select__2" id="">
            <option value="">Авторский номер</option>
            <option value="">Авторский номер2</option>
            <option value="">Авторский номер3</option>
        </select>
        <select name="" class="select__2" id="">
            <option value="">Кадастровый номер</option>
            <option value="">Кадастровый номер2</option>
            <option value="">Кадастровый номер3</option>
        </select>
        <!-- <input type="text" name="datepicker" id="date" placeholder="2021" /> -->
        <div class="range__year" id="education-range">
            <input type="text" class="form-control" value="2012">
            <img src="images/swap-right.svg" alt="">
            <input type="text" class="form-control" value="2013">
        </div>
        <label for="open__file" class="btn__blue">
            <input type="file" id="open__file" style="display: none;">
            <img src="images/folder.svg" alt="">
            Открыть
        </label>
        <a href="#" class="btn"><i class="bi bi-box-arrow-up"></i>Экспорт</a>
        <a href="#" class="btn"><i class="bi bi-download"></i>Импорт</a>
        <a href="#" class="btn__blue"><img src="images/save.svg" alt="">Сохранить изменения</a>
        <a href="#" class="btn-success"><img src="images/tick-circle.svg" alt="">Одобрить</a>
    </div>
    <table class="table dynamic__table">
        <thead>
            <tr>
                <th>Год</th>
                <th>Январь</th>
                <th>Февраль</th>
                <th>Март</th>
                <th>Апрель</th>
                <th>Май</th>
                <th>Июнь</th>
                <th>Июль</th>
                <th>Август</th>
                <th>Сентябрь</th>
                <th>Ноябрь</th>
                <th>Декабрь</th>
                <th>MIN</th>
                <th>MAX</th>
                <th>AVRG</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td> <span class="text-success">2021</span></td>
                <td>2,69</td>
                <td>2,88</td>
                <td>2,99</td>
                <td>2,85</td>
                <td>2,92</td>
                <td>2,81</td>
                <td>2021</td>
                <td>2,69</td>
                <td>2,88</td>
                <td>2,99</td>
                <td>2,85</td>
                <td>2,92</td>
                <td>2,81</td>
                <td>2,99</td>
            </tr>
            <tr>
                <td> <span class="text-success">2021</span></td>
                <td>2,85</td>
                <td>2,92</td>
                <td>2,69</td>
                <td>2,88</td>
                <td>2,99</td>
                <td>2,69</td>
                <td>2,88</td>
                <td>2,99</td>
                <td>2,85</td>
                <td>2,92</td>
                <td>2,81</td>
                <td>2,81</td>
                <td>2021</td>
                <td>2,99</td>
            </tr>
        </tbody>
    </table>
    <div class="dynam">
        <h3>График уровня воды за 2020</h3>
        <p>MIN: 2.32, MAX: 2.99, AVRG: 2.72</p>
        <div class="graphic">
            <img src="images/dyn1.jpg" alt="">
        </div>
    </div>
</section>
@@include('parts/footer.html')