@@include('parts/header.html')
<section class="desktop">
    <h1>Рабочий стол</h1>
    <!-- Button trigger modal -->
    <button type="button" class="btn" data-toggle="modal" data-target="#allPost">
        Всего общий суммарный отбор запасов ПВ по областям
    </button>
    <!-- Modal #allPost -->
    <div class="modal fade modal__style" id="allPost" tabindex="-1" role="dialog" aria-labelledby="allPostLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Всего общий суммарный отбор запасов ПВ по областям</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table>
                        <tr>
                            <td>Год</td>
                            <td>
                                <input type="text" disabled value="2019">
                            </td>
                        </tr>
                        <tr>
                            <td>Республика Каракалпакстан </td>
                            <td>
                                <input type="text" disabled value="74.27">
                            </td>
                        </tr>
                        <tr>
                            <td>Андижанская область </td>
                            <td>
                                <input type="text" disabled value="1’246.58">
                            </td>
                        </tr>
                        <tr>
                            <td>Бухарская область </td>
                            <td>
                                <input type="text" disabled value="429.46">
                            </td>
                        </tr>
                        <tr>
                            <td>Джизакская область </td>
                            <td>
                                <input type="text" value="335.84">
                            </td>
                        </tr>
                        <tr>
                            <td>Кашкадарьинская область </td>
                            <td>
                                <input type="text" disabled value="1’407.32">
                            </td>
                        </tr>
                        <tr>
                            <td>Навоийская область </td>
                            <td>
                                <input type="text" disabled value="1’524.08">
                            </td>
                        </tr>
                        <tr>
                            <td>Наманганская область </td>
                            <td>
                                <input type="text" disabled value="2’308.05">
                            </td>
                        </tr>
                        <tr>
                            <td>Самаркандская область </td>
                            <td>
                                <input type="text" disabled value="2’024.75">
                            </td>
                        </tr>
                        <tr>
                            <td>Сурхандарьинская область </td>
                            <td>
                                <input type="text" disabled value="497.93">
                            </td>
                        </tr>
                        <tr>
                            <td>Сырдарьинская область </td>
                            <td>
                                <input type="text" disabled value="614.70">
                            </td>
                        </tr>
                        <tr>
                            <td>Ташкентская область </td>
                            <td>
                                <input type="text" disabled value="1’992.23">
                            </td>
                        </tr>
                        <tr>
                            <td>Ферганская область </td>
                            <td>
                                <input type="text" disabled value="4’968.80">
                            </td>
                        </tr>
                        <tr>
                            <td>Хорезмская область </td>
                            <td>
                                <input type="text" disabled value="23.93">
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn__close" data-dismiss="modal">Закрыть</button>
                    <button type="button" class="btn__blue" data-dismiss="modal">Сохранить</button>
                    <button type="button" class="btn__green" data-dismiss="modal">Показать график</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal #allPost -->
    <button type="button" class="btn" data-toggle="modal" data-target="#lookChange">
        Просмотр изменений
    </button>
    <!-- Modal #lookChange -->
    <div class="modal fade modal__style" id="lookChange" tabindex="-1" role="dialog" aria-labelledby="lookChangeLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Просмотр изменений</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Форма</th>
                                <th>Пользователь</th>
                                <th>Дата изменений</th>
                                <th>№ объекта</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Уровен воды</td>
                                <td>Имя фамилия</td>
                                <td>2021-01-01 00:00:00</td>
                                <td><span class="border border-primary rounded">1234567</span></td>
                            </tr>
                            <tr>
                                <td>Уровен воды</td>
                                <td>Имя фамилия</td>
                                <td>2021-01-01 00:00:00</td>
                                <td><span class="border border-primary rounded">1234567</span></td>
                            </tr>
                            <tr>
                                <td>Уровен воды</td>
                                <td>Имя фамилия</td>
                                <td>2021-01-01 00:00:00</td>
                                <td><span class="border border-primary rounded">1234567</span></td>
                            </tr>
                            <tr>
                                <td>Уровен воды</td>
                                <td>Имя фамилия</td>
                                <td>2021-01-01 00:00:00</td>
                                <td><span class="border border-primary rounded">1234567</span></td>
                            </tr>
                            <tr>
                                <td>Уровен воды</td>
                                <td>Имя фамилия</td>
                                <td>2021-01-01 00:00:00</td>
                                <td><span class="border border-primary rounded">1234567</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn__blue" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal #lookChange -->
    <button type="button" class="btn" data-toggle="modal" data-target="#wells">
        Скважины
    </button>
    <!-- Modal #wells -->
    <div class="modal fade modal__style" id="wells" tabindex="-1" role="dialog" aria-labelledby="wellsLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Скважины</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="to1" data-toggle="pill" href="#jj1" role="tab" aria-controls="jj1" aria-selected="true">Реестр</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="to2" data-toggle="pill" href="#jj2" role="tab" aria-controls="jj2" aria-selected="false">Фото</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="to3" data-toggle="pill" href="#jj3" role="tab" aria-controls="jj3" aria-selected="false">Среднегодовой график</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="to4" data-toggle="pill" href="#jj4" role="tab" aria-controls="jj4" aria-selected="false">Среднемесячный график</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" id="to5" data-toggle="pill" href="#jj5" role="tab" aria-controls="jj5" aria-selected="false">Диаграмма дайвера</a>
                        </li>
                    </ul>
                    <div class="tab-content" id="pills-tabContent">
                        <div class="tab-pane fade show active" id="jj1" role="tabpanel" aria-labelledby="to1">
                            <h2>Среднегодовой график уровня воды по скважине 1727505 за последний 12 лет</h2>
                            <div class="well__chart">
                                <img src="images/well.jpg" alt="">
                            </div>
                        </div>
                        <div class="tab-pane fade" id="jj2" role="tabpanel" aria-labelledby="to2"></div>
                        <div class="tab-pane fade" id="jj3" role="tabpanel" aria-labelledby="to3"></div>
                        <div class="tab-pane fade" id="jj4" role="tabpanel" aria-labelledby="to4"></div>
                        <div class="tab-pane fade" id="jj5" role="tabpanel" aria-labelledby="to5"></div>
                    </div>
                </div>
                <div class="modal-footer justify-content-end">
                    <button type="button" class="btn__green" data-dismiss="modal">Скачать изображение</button>
                    <button type="button" class="btn__blue" data-dismiss="modal">Закрыть</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal #wells -->
    <div class="desktop__top">
        <a href="#" class="item">
            <div class="img" style="background: rgba(0, 60, 255, 0.1);">
                <img src="images/des1.svg" alt="">
            </div>
            <div class="text">
                <h4>108</h4>
                <span>Месторождения ПВ</span>
            </div>
        </a>
        <a href="#" class="item">
            <div class="img" style="background: rgba(30, 233, 182, 0.1);">
                <img src="images/des2.svg" alt="">
            </div>
            <div class="text">
                <h4>855</h4>
                <span>Разведанные участки ПВ</span>
            </div>
        </a>
        <a href="#" class="item">
            <div class="img" style="background: rgba(175, 82, 222, 0.1);">
                <img src="images/des3.svg" alt="">
            </div>
            <div class="text">
                <h4>99</h4>
                <span>Разведанные участки МВ</span>
            </div>
        </a>
        <a href="#" class="item">
            <div class="img" style="background: rgba(52, 199, 89, 0.1);">
                <img src="images/des4.svg" alt="">
            </div>
            <div class="text">
                <h4>386</h4>
                <span>Водозаборы</span>
            </div>
        </a>
        <a href="#" class="item">
            <div class="img" style="background: rgba(255, 110, 1, 0.1);">
                <img src="images/des5.svg" alt="">
            </div>
            <div class="text">
                <h4>2873</h4>
                <span>Скважины</span>
            </div>
        </a>
    </div>
    <div class="row row__10">
        <div class="col-lg-6">
            <div class="desk__progress">
                <img src="images/col1.jpg" alt="">
                <!-- <div class="top">
                    <h3>Прогнозные подземных вод по областям Республики Узбекистан (тыс.м3/сут)</h3>
                    <div class="dropdown">
                        <div class="dropdown_top">
                            <i class="bi bi-three-dots-vertical"></i>
                        </div>
                        <div class="dropdown_body">
                            <a href="#">Delete</a>
                            <a href="#">Setting</a>
                            <a href="#">Log Out</a>
                        </div>
                    </div>
                </div>
                <table class="title__table">
                    <tbody>
                        <tr>
                            <td>Всего прогнозные ресурсы подземных вод по Республике Узбекистан:</td>
                            <td><b>63’986,53</b></td>
                        </tr>
                        <tr>
                            <td>Всего с минерализацией до 1 г/л по Республике Узбекистан:</td>
                            <td><b>25’822,05</b></td>
                        </tr>
                    </tbody>
                </table> -->
            </div>
        </div>
        <div class="col-lg-6">
            <div class="desk__progress">
                <img src="images/col2.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="desk__progress">
                <img src="images/col3.jpg" alt="">
            </div>
        </div>
        <div class="col-lg-6">
            <div class="desk__progress">
                <!--   <div class="top">
                    <h3>Суммарный отбор подземных вод по областям (тыс.м3/сут)</h3>
                    <div class="dropdown year">
                        <div class="dropdown_top">
                            <span>2019</span>
                        </div>
                        <div class="dropdown_body">
                            <a href="#">2018</a>
                            <a href="#">2019</a>
                            <a href="#">2020</a>
                        </div>
                    </div>
                </div>
                <table class="title__table">
                    <tbody>
                        <tr>
                            <td>Всего:</td>
                            <td><b>63’986,53</b></td>
                        </tr>
                    </tbody>
                </table> -->
                <img src="images/col4.jpg" alt="">
            </div>
        </div>
    </div>
</section>
@@include('parts/footer.html')