@@include('parts/header.html')
<section class="map__section">
    <span class="open__filter"><img src="images/filter.svg" alt="">Фильтр </span>
    <div class="filter">
        <div id="filter__toggle"><img src="images/filter.svg" alt="">Фильтр </div>
        <ul>
            <li>
                <span class="first" data-count="12" data-toggle="modal" data-target="#tableModal">
                    <img src="images/f1.svg" alt="">Общие параметры
                </span>
                <ul class="inner">
                    <li><a href="#">Целевое использование</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                </ul>
            </li>
            <li>
                <span class="first" data-count="12">
                    <img src="images/f2.svg" alt="">Месторождения
                </span>
                <ul class="inner">
                    <li><a href="#">Целевое использование</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                </ul>
            </li>
            <li>
                <span class="first" data-count="12">
                    <img src="images/f3.svg" alt="">Скважины
                </span>
                <ul class="inner">
                    <li><a href="#">Целевое использование</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                </ul>
            </li>
            <li>
                <span class="first" data-count="12">
                    <img src="images/f4.svg" alt="">Разведанные участки ПВ
                </span>
                <ul class="inner">
                    <li><a href="#">Целевое использование</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                </ul>
            </li>
            <li>
                <span class="first" data-count="12">
                    <img src="images/f5.svg" alt="">Водозаборы
                </span>
                <ul class="inner">
                    <li><a href="#">Целевое использование</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                </ul>
            </li>
            <li>
                <span class="first" data-count="12">
                    <img src="images/f6.svg" alt="">Разведанные участки МВ
                </span>
                <ul class="inner">
                    <li><a href="#">Целевое использование</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                    <li><a href="#">Тип скважин</a></li>
                    <li><a href="#">Тип водозабора</a></li>
                </ul>
            </li>
        </ul>
        <div class="bottom__filter">
            <a href="#" class="btn"><i class="bi bi-download"></i>Скачать изображение</a>
            <a href="#" class="btn__blue">Применить</a>
        </div>
    </div>
    <div id="map"></div>
</section>
<div class="modal fade modal__style" id="tableModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Разведанные участки минеральных вод</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table__modal">
                    <tr>
                        <td>Параметры</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Год ввода информации</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Кадастровый номер</td>
                        <td>1727071</td>
                    </tr>
                    <tr>
                        <td>Название объекта</td>
                        <td>Янгиюль</td>
                    </tr>
                    <tr>
                        <td>Геологический возраст водоносного горизонта</td>
                        <td>К2СН</td>
                    </tr>
                    <tr>
                        <td>Глубина скважины, м</td>
                        <td>1459</td>
                    </tr>
                    <tr>
                        <td>Минерализация, г/л</td>
                        <td>0,6-1,1</td>
                    </tr>
                    <tr>
                        <td>Цвет (по составу и содержанию)</td>
                        <td>Гидрокарбонат-хлорид-сульфатная натриевая</td>
                    </tr>
                    <tr>
                        <td>Область, регион, город</td>
                        <td>Ташкентская область</td>
                    </tr>
                    <tr>
                        <td>Район</td>
                        <td>Янгиюльский район</td>
                    </tr>
                    <tr>
                        <td>Местоположение</td>
                        <td>Св.нет
                        </td>
                    </tr>
                    <tr>
                        <td>Геолокация</td>
                        <td>41,10620000-69,04910000</td>
                    </tr>
                    <tr>
                        <td>Протокол и год утверждения</td>
                        <td>ГКЗ 1983г. №9179</td>
                    </tr>
                    <tr>
                        <td>Всего утвержденных запасов, тыс. м2/сут</td>
                        <td>0,1730</td>
                    </tr>
                    <tr>
                        <td>Примечание</td>
                        <td></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn__close" data-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>
<script src="https://api-maps.yandex.ru/2.1/?apikey=82b9acd8-2269-4a46-8ca7-ad5a0ec69d8a&lang=ru_RU" type="text/javascript">
</script>
<script type="text/javascript">
// Функция ymaps.ready() будет вызвана, когда
// загрузятся все компоненты API, а также когда будет готово DOM-дерево.

var myMap;
ymaps.ready(init);

function init() {
    // Создание карты.
    myMap = new ymaps.Map("map", {
        // Координаты центра карты.
        // Порядок по умолчанию: «широта, долгота».
        // Чтобы не определять координаты центра карты вручную,
        // воспользуйтесь инструментом Определение координат.
        center: [41.311151, 69.279737],
        // Уровень масштабирования. Допустимые значения:
        // от 0 (весь мир) до 19.
        zoom: 12
    });
}
</script>
<!-- 

-->
<script>
document.getElementById("toggle__sidebar").onclick = function() {
    setTimeout(function() {
        myMap.container.fitToViewport();
    }, 0)

}
</script>
@@include('parts/footer.html')