@@include('parts/header.html')
<section class="media__section">
    <h1>Медиа </h1>
    <div class="media__main">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true" data-count="99"><i class="bi bi-folder"></i>Файлы</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false" data-count="99"><i class="bi bi-folder"></i>Общие файлы</a>
        </div>
        <div class="tab-content" id="v-pills-tabContent">
            <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                <h3>Файлы</h3>
                <div class="top__table__style">
                    <div class="form-group search">
                        <button><i class="bi bi-search"></i></button>
                        <input type="text" placeholder="Поиск">
                    </div>
                    <a href="#" class="btn list"><img src="images/list.svg" alt="">Список</a>
                    <a href="#" class="btn"><i class="bi bi-grid"></i>Миниатюры</a>
                    <a href="#" class="btn"><img src="images/sort.svg" alt="">Сортировать</a>
                    <a href="#" class="btn__blue"><i class="bi bi-plus-circle"></i>Добавить</a>
                </div>
                <div class="sort__list">
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                </div>
                <div class="sort__list vertical">
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                    <a href="#">
                        <img src="images/image.jpg" alt="">
                        <p>Название файла</p>
                    </a>
                </div>
                <nav aria-label="Page navigation example" class="my__pagination">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <i class="bi bi-chevron-double-left"></i>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link active" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="bi bi-three-dots"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">18</a></li>
                        <li class="page-item"><a class="page-link" href="#">19</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <i class="bi bi-chevron-double-right"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
        </div>
    </div>
</section>
@@include('parts/footer.html')