@@include('parts/header.html')
<section class="pool">
    <h1>Реестр контактной информации </h1>
    <div class="top__table__style">
        <div class="graphed">
            <div class="dropdown custom">
                <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    10
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">15</a>
                    <a class="dropdown-item" href="#">20</a>
                    <a class="dropdown-item" href="#">25</a>
                </div>
            </div>
            <div class="dropdown graph">
                <span type="button" class="btn" id="dropdownMenuButton2" >
                    <i class="bi bi-sliders"></i> Графа
                </span>
                <form class="mained">
                    <h3>Графа</h3>
                    <div class="form-group">
                        <input type="checkbox" id="gh1">
                        <label for="gh1">Все</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="gh2">
                        <label for="gh2">Кадастровый номер</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="gh3">
                        <label for="gh3">Название месторождения</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="gh4">
                        <label for="gh4">Область</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="gh5">
                        <label for="gh5">Ресурсы подземных вод</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="gh6">
                        <label for="gh6">Год ввода информации</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="gh7">
                        <label for="gh7">Геологический возраст водоносного горизонта</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="gh8">
                        <label for="gh8">Утвержденные запасы подземных вод</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="gh9">
                        <label for="gh9">Отбор из утвержденных запасов подземных вод</label>
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="gh10">
                        <label for="gh10">Примечание</label>
                    </div>
                    <div class="bottom">
                        <button class="btn__close">Закрыть</button>
                        <button class="btn__blue">Сохранить</button>
                    </div>
                </form>
            </div>
            
        </div>
        <div class="form-group search">
            <button><i class="bi bi-search"></i></button>
            <input type="text" placeholder="Поиск">
        </div>
        <a href="#" class="btn"><i class="bi bi-box-arrow-up"></i>Экспорт</a>
        <a href="#" class="btn"><i class="bi bi-download"></i>Импорт</a>
        <a href="#" class="btn btn-danger"><i class="bi bi-trash"></i>Удалить</a>
        <a href="#" class="btn__blue"><i class="bi bi-plus-circle"></i>Добавить</a>
    </div>
    <table class="table table-striped for__reestr">
        <thead>
            <tr>
                <th><input type="checkbox"></th>
                <th>№</th>
                <th>Название
                    <input type="text">
                </th>
                <th>Действия
                    <input type="text">
                </th>
                <th>
                    Область
                    <select name="" class="select__2" id="">
                         <option value="">Все</option>
                         <option value="">Все2</option>
                         <option value="">Все3</option>
                     </select>
                </th>
                <th>Район</th>
                <th>Адрес</th>
                <th>Контактное лицо
                    <input type="text">
                </th>
                <th>Контакты</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="checkbox"></td>
                <td>123</td>
                <td>Название учреждения</td>
                <td>Организация</td>
                <td>Область</td>
                <td>Район</td>
                <td>Адрес</td>
                <td>Имя Фамилия</td>
                <td>
                    <div class="text-center">
                        <span>Тел: +888-88-888-88-88</span>
                        <span>Email: mail@mail.com</span>
                        <span>Web: www.company.com</span>
                    </div>
                </td>
                <td>
                    <a href="#" class="btn edit"><img src="images/edit.svg" alt=""></a>
                    <a href="#" class="btn delete"><img src="images/delete.svg" alt=""></a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" class="my__pagination">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <i class="bi bi-chevron-double-left"></i>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link active" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="bi bi-three-dots"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">18</a></li>
            <li class="page-item"><a class="page-link" href="#">19</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <i class="bi bi-chevron-double-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</section>
@@include('parts/footer.html')