@@include('parts/header.html')
<section class="pool">
    <h1>Типы скважин</h1>
    <div class="top__table__style">
        <div class="dropdown custom">
            <button type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                10
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">15</a>
                <a class="dropdown-item" href="#">20</a>
                <a class="dropdown-item" href="#">25</a>
            </div>
        </div>
        <div class="form-group search">
            <button><i class="bi bi-search"></i></button>
            <input type="text" placeholder="Поиск">
        </div>
        <a href="#" class="btn"><i class="bi bi-box-arrow-up"></i>Экспорт</a>
        <a href="#" class="btn"><i class="bi bi-download"></i>Импорт</a>
        <a href="#" class="btn__blue"><i class="bi bi-plus-circle"></i>Добавить</a>
    </div>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>№</th>
                <th>Название</th>
                <th>Действия</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>123</td>
                <td>Эксплуатационный</td>
                <td>
                    <a href="#" class="btn edit"><img src="images/edit.svg" alt=""></a>
                    <a href="#" class="btn delete"><img src="images/delete.svg" alt=""></a>
                </td>
            </tr>
            <tr>
                <td>123</td>
                <td>Наблюдательный</td>
                <td>
                    <a href="#" class="btn edit"><img src="images/edit.svg" alt=""></a>
                    <a href="#" class="btn delete"><img src="images/delete.svg" alt=""></a>
                </td>
            </tr>
            <tr>
                <td>123</td>
                <td>Колодец</td>
                <td>
                    <a href="#" class="btn edit"><img src="images/edit.svg" alt=""></a>
                    <a href="#" class="btn delete"><img src="images/delete.svg" alt=""></a>
                </td>
            </tr>
            <tr>
                <td>123</td>
                <td>Разведочный</td>
                <td>
                    <a href="#" class="btn edit"><img src="images/edit.svg" alt=""></a>
                    <a href="#" class="btn delete"><img src="images/delete.svg" alt=""></a>
                </td>
            </tr>
        </tbody>
    </table>
    <nav aria-label="Page navigation example" class="my__pagination">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <i class="bi bi-chevron-double-left"></i>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link active" href="#">3</a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="bi bi-three-dots"></i></a></li>
            <li class="page-item"><a class="page-link" href="#">18</a></li>
            <li class="page-item"><a class="page-link" href="#">19</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <i class="bi bi-chevron-double-right"></i>
                </a>
            </li>
        </ul>
    </nav>
</section>
@@include('parts/footer.html')