@@include('parts/header.html')
<section class="chemic">
    <div class="chemic__title">
        <h1>Химический состав воды в скважинах</h1>
        <p class="subtitle">Изменение: 2021-08-03 12:07:14</p>
        <p class="subtitle">Статус: не одобрен</p>
    </div>
    <div class="top__table__style chemic__top">
        <select name="" class="select__2" id="">
             <option value="">Авторский номер</option>
             <option value="">Авторский номер2</option>
             <option value="">Авторский номер3</option>
         </select>
         <select name="" class="select__2" id="">
             <option value="">Кадастровый номер</option>
             <option value="">Кадастровый номер2</option>
             <option value="">Кадастровый номер3</option>
         </select>
        <input type="text" name="datepicker" id="datepicker" placeholder="2021" />
        <label for="open__file" class="btn__blue">
            <input type="file" id="open__file" style="display: none;">
            <img src="images/folder.svg" alt="">
            Открыть
        </label>
        <a href="#" class="btn"><i class="bi bi-box-arrow-up"></i>Экспорт</a>
        <a href="#" class="btn"><i class="bi bi-download"></i>Импорт</a>
        <a href="#" class="btn__blue"><img src="images/save.svg" alt="">Сохранить изменения</a>
        <a href="#" class="btn-success"><img src="images/tick-circle.svg" alt="">Одобрить</a> 
    </div>
    <table class="table chemic__table">
        <thead>
            <tr>
               <th>Химический состав</th>
               <th>По ГОСТу</th>
               <th>I - квартал</th>
               <th>II - квартал</th>
               <th>III - квартал</th>
               <th>IV - квартал</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Жесткость</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>рН</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>CO2</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>

            <tr>
                <td>Окисляемость</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Na+K</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Формула</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Fe3</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Жесткость</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>рН</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>CO2</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>

            <tr>
                <td>Окисляемость</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Na+K</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Формула</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>
            <tr>
                <td>Fe3</td>
                <td>7.0мг-экв/л (10,0)</td>
                <td>-</td>
                <td>-</td>
                <td>20.6</td>
                <td>-</td>
            </tr>

        </tbody>
    </table>
</section>
@@include('parts/footer.html')