$blue: #003CFF;
$blue_hover: #003CAA;
$brown: #4C5857;
$black: #1D1929;



@mixin desk {
    @media (max-width: 1700px) {
        @content;
    }
}

@mixin ipad_pro {
    @media (max-width: 1299px) {
        @content;
    }
}

@mixin ipad {
    @media (max-width: 991px) {
        @content;
    }
}

@mixin mobile {
    @media (max-width: 767px) {
        @content;
    }
}

@mixin mini {
    @media (max-width: 350px) {
        @content;
    }
}

@mixin tran15 {
    transition: all .15s linear;
}

@mixin tran30 {
    transition: all .3s linear;
}

@mixin img_cov {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
}

@mixin img_con {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    overflow: hidden;
}

body,
* {
    color: $black;
    font-size: 20px;
    line-height: 24px;
    font-family: 'Segoe UI';
    outline: none !important;

    @include desk {
        font-size: 14px;
    }
}


body {
    background: #FDFEFF;
    max-width: 100%;
    overflow-x: hidden;

    @include desk {
        // zoom: .9;
    }
}

a {
    color: $black;
    transition: all .15s linear;
    text-decoration: none !important;

    &:hover {
        color: $blue;
    }

    i {
        transition: all .15s linear;
    }

    svg {
        path {
            @include tran15;
        }
    }
}

i {
    @include tran15;
    font-family: inherit;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

// *******************************************************************
.login {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;

    .left {
        flex: 0 0 50%;
        background-size: cover;
        background-position: left center;
        width: 100%;
        position: relative;
        display: flex;
        padding: 60px;
        justify-content: flex-end;
        flex-direction: column;
        max-width: 50%;

        @include ipad {
            position: absolute;
            flex: 0 0 100%;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            max-width: 100%;
        }

        @include mobile {
            padding: 30px;
        }

        img {
            max-width: 700px;
            height: auto;

            @include ipad {
                max-width: 100%;
            }
        }
    }

    .right {
        flex: 0 0 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #F9F9F9;
        padding: 50px;
        max-width: 50%;

        @include ipad {
            position: relative;
            z-index: 3;
            flex: 0 0 auto;
            max-width: 500px;
            margin: auto;
            border-radius: 12px;
            padding: 30px;
        }

        @include mobile {
            max-width: 80%;
            padding: 30px;
            width: 100%;
        }
    }

    form {
        max-width: 440px;
        width: 100%;
        margin-bottom: 50px;

        @include mobile {
            max-width: 100%;
            margin-bottom: 0;
        }

        h1 {
            font-weight: 600;
            font-size: 48px;
            line-height: 115%;
            margin-bottom: 50px;

            @include mobile {
                font-size: 24px;
                text-align: center;
                margin-bottom: 30px;
            }
        }

        .form-group {
            margin-bottom: 30px;

            input {
                background: #FFFFFF;
                border: 1px solid #D5D5D5;
                border-radius: 8px;
                font-size: 14px;
                line-height: 140%;
                height: 60px;
                padding-left: 50px;
                padding-right: 10px;
                width: 100%;
                background-repeat: no-repeat;
                background-position: left 15px center;
                transition: all .15s;

                @include mobile {
                    height: 42px;
                }

                &::placeholder {
                    color: #A5A4AA;
                }

                &:focus {
                    border-color: $blue;
                }
            }

            &.passwordToggle {
                input[type="text"] {
                    &+#toggle__lock {
                        background: url('../images/eye.svg') no-repeat center;
                    }
                }

            }
        }

        .btn__blue {
            width: 100%;
        }

    }
}

.passwordToggle {
    position: relative;
}

#toggle__lock {
    position: absolute;
    right: 16px;
    width: 14px;
    height: 14px;
    z-index: 2;
    cursor: pointer;
    top: calc(50% - 7px);
    background: url('../images/eye-closed.svg') no-repeat center;
    background-size: contain;

}

.btn__blue {
    background: $blue;
    border-radius: 8px;
    height: 56px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 12px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.01em;
    border: 0;
    color: #fff;
    transition: all .15s;

    @include mobile {
        height: 42px;
    }

    &:hover {
        background-color: $blue_hover;
        color: #fff
    }

    i {
        color: #fff;
    }
}

.btn__close {
    background: #D5D5D5;
    border-radius: 8px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 12px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.01em;
    border: 0;
    color: #77757F;
    transition: all .15s;

    @include mobile {
        height: 42px;
    }

    &:hover {
        background-color: #eddfdf;
        // color: #fff
    }
}

.btn__green {
    background: #1EE9B6;
    border-radius: 8px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 12px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.01em;
    border: 0;
    color: #fff;
    transition: all .15s;

    @include mobile {
        height: 42px;
    }

    &:hover {
        background-color: #1EE9A1;
        // color: #fff
    }
}

.dropdown {
    position: relative;
    z-index: 24;

    &:hover {
        .dropdown_body {
            opacity: 1;
            z-index: 6;
            pointer-events: auto;
            transform: translateY(0);
        }
    }

    &_top {
        padding: 0;
        cursor: pointer;
        background: url('../images/arrow_down.svg') no-repeat center right;
        background-size: 8px auto;
        padding-right: 16px;
        font-weight: bold;
        font-size: 14px;
        line-height: 140%;
        color: #003CFF;
    }

    &_body {
        position: absolute;
        top: 100%;
        left: auto;
        right: 0;
        text-align: right;
        // min-width: 200px;
        pointer-events: none;
        display: flex;
        flex-direction: column;
        background: #FFFFFF;
        box-shadow: 0px 4px 20px rgba(164, 147, 147, 0.25);
        border-radius: 5px;
        padding: 10px;
        opacity: 0;
        transition: all .3s linear;
        transform: translateY(5px);

        a {
            padding: 5px 0px;
            white-space: nowrap;
        }
    }
}

.language {
    .dropdown_top {
        display: flex;
        align-items: center;
        font-weight: bold;
    }

    a {
        display: flex;
        align-items: center;
        font-weight: bold;
        font-size: 14px;
        line-height: 140%;
    }
}

header {
    display: flex;
    align-items: center;
    padding: 30px;
    margin: 0 -30px;
    height: 84px;
    background: #fff;
    position: relative;
    z-index: 15;
    justify-content: flex-end;

    @include mobile {
        padding: 0 10px;
        margin: 0 -10px;
        justify-content: space-between;
    }

    .link__header {
        display: inline-flex;
        flex: 0 0 18px;
        align-items: center;
        justify-content: center;
        margin-left: 30px;

        svg {
            path {
                transition: all .15s;
            }
        }

        &:hover {
            &.eart {
                svg {
                    path {
                        fill: $blue_hover;
                        stroke: none;
                    }
                }
            }

            svg {
                path {
                    stroke: $blue_hover;
                }
            }
        }
    }
}

.main {
    display: flex;
    justify-content: space-between;

    .wrapper {
        flex: 0 0 auto;
        width: 100%;
        padding: 0 30px;
        max-width: calc(100% - 320px);

        @include mobile {
            max-width: 100%;
            padding-left: 78px;
            padding-right: 10px;
        }

    }
}

div#toggle__sidebar {
    width: 48px;
    height: 48px;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile {
        right: 10px;
    }

    svg {
        path {
            transition: all .15s;
        }

        &:hover {
            path {
                fill: $blue_hover;
            }
        }
    }
}

.open__side {
    .sidebar {
        flex: 0 0 88px;
        max-width: 88px;
        width: 88px;

        @include mobile {
            flex: 0 0 68px;
            max-width: 68px;
            width: 68px;
        }

        .logo {
            opacity: 0;
            pointer-events: none;
        }

        #toggle__sidebar {
            transform: rotate(180deg);
        }

        li {
            &.opened {
                .inner {
                    height: 0;
                    overflow: hidden;
                    width: 0;
                }
            }
        }

        ul {
            li {
                .first {
                    font-size: 0;
                    padding-right: 0;

                    &:after {
                        width: 0;
                    }

                    &:before {
                        width: 0;
                        padding: 0 !important;
                    }
                }
            }
        }

    }

    .main {
        .wrapper {
            max-width: calc(100% - 88px);

            @include mobile {
                max-width: 100%;
                padding-left: 78px;
            }

        }
    }

}

.sidebar {
    flex: 0 0 320px;
    width: 320px;
    background: #F9F9F9;
    padding: 25px 20px;
    min-height: 100vh;
    position: relative;
    transition: all .3s;
    overflow: hidden;

    @include mobile {
        z-index: 999;
        position: fixed;
        left: 0;
        padding: 20px 10px;
    }

    .logo {
        display: inline-block;
        margin-bottom: 44px;
    }

    ul {
        li {
            margin-bottom: 4px;

            &.opened {
                span.first {
                    background: #E8E8EA !important;

                    &:after {
                        transform: translateY(-50%) rotate(-0deg);

                    }
                }
            }

            span.first {
                padding-right: 48px;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    width: 18px;
                    height: 18px;
                    background: url('../images/arrow_down.svg') no-repeat center;
                    background-size: 8px auto;
                    transform: translateY(-50%) rotate(-90deg);
                    transition: all .3s;
                }
            }

            .first,
            a {
                padding: 15px;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 14px;
                line-height: 115%;
                letter-spacing: -0.01em;
                color: $blue;
                height: 48px;
                transition: all .3s;
                cursor: pointer;
                background: #FFFFFF;
                border-radius: 8px;

                &[data-count]:before {
                    content: attr(data-count);
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 18px;
                    padding: 3px 6px;
                    border-radius: 9px;
                    background-color: $blue;
                    color: #FFFFFF;
                    text-align: center;
                    display: block;
                    margin-left: auto;
                    margin-right: 0;
                    order: 4;

                }

                &:hover {
                    background: #E8E8EA;
                }

                svg {
                    width: 17px;
                    height: 17px;
                    flex: 0 0 17px;
                    object-fit: contain;
                    object-position: center;
                    margin-right: 16px;
                }

                &.active {
                    color: #fff;
                    background-color: $blue;

                    svg {
                        path {
                            stroke: #fff;
                        }
                    }

                    &[data-count]:before {
                        color: $blue;
                        background-color: #fff;
                    }
                }

                &+.inner {
                    display: none;
                }

                &+.active {
                    .inner {
                        display: block;
                    }
                }
            }
        }

        .inner {
            padding-top: 4px;

            li {
                a {
                    padding: 10px 15px 10px 48px;
                    height: 36px;
                }
            }
        }
    }
}



// *******************************************************************
h1 {
    font-weight: bold;
    font-size: 32px;
    line-height: 100%;
    color: #000000;
    margin-bottom: 30px;

    @include mobile {
        font-size: 24px;
        line-height: 1.2;
    }
}

body {
    @include desk {
        // zoom: .8;
    }
}

.desktop {
    &__top {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        .item {
            display: flex;
            align-items: center;
            border-radius: 8px;
            padding: 20px;
            background: #FFFFFF;
            box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
            margin-right: 30px;
            height: 102px;
            transition: all .3s;
            margin-bottom: 30px;
            max-width: 284px;

            &:hover {
                box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
            }

            .img {
                border-radius: 8px;
                width: 62px;
                height: 62px;
                flex: 0 0 62px;
                margin-right: 20px;
                padding: 10px;
            }

            .text {
                width: 100%;

                h4 {
                    font-weight: bold;
                    font-size: 36px;
                    line-height: 120%;
                    letter-spacing: -0.005em;
                    margin-bottom: 3px;
                }

                span {
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 16px;
                    color: #77757F;
                    display: block;
                }
            }
        }
    }
}

.row__10 {
    margin-left: -5px;
    margin-right: -5px;

    >div {
        padding-left: 5px;
        padding-right: 5px;
    }
}

.desk__progress {
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 100%;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 10px;

    img {
        max-width: 100%;
        margin-bottom: 30px;
    }

    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 5px;

        h3 {
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
            margin-bottom: 0;
        }
    }

    .title__table {
        td {
            font-weight: normal;
            font-size: 12px;
            line-height: 16px;
            padding-right: 10px;
            color: #A5A4AA;

            b {
                font-size: 12px;
                line-height: 16px;
                color: #A5A4AA;
                font-weight: bold;
            }
        }
    }
}

#chartdiv,
#chartdiv2 {
    width: 100%;
    height: 500px;
}

a.show__change {
    margin-right: 30px;
    font-weight: 600;
    font-size: 14px;
    line-height: 115%;
    display: inline-flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.01em;
    color: $blue;

    @include mobile {
        font-size: 0;
        margin-right: 15px;
    }

    i {
        padding-right: 6px;
        color: $blue;

        @include mobile {
            font-size: 20px;
        }
    }
}

.pool {
    table {
        margin-top: 30px;

        thead {
            th {
                font-size: 16px;
                line-height: 150%;
                color: #1D1929;
                vertical-align: middle;
                font-weight: bold;
                border: 1px solid #D5D5D5;
                background: #F9F9F9;

                &:nth-child(3n) {
                    text-align: center;
                }
            }
        }

        tbody tr {
            &:nth-of-type(odd) {
                background: none;
            }

            &:nth-of-type(even) {
                background: #F9F9F9;
            }
        }

        td {
            font-size: 16px;
            line-height: 150%;
            color: #1D1929;
            border: 1px solid #D5D5D5;
            vertical-align: middle;

            &:nth-child(3n) {
                text-align: center;
            }
        }
    }
}

.my__pagination {
    margin-top: 30px;
    margin-bottom: 30px;

    .page-link {
        border: 0 !important;
        width: 32px;
        height: 32px;
        border-radius: 8px;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        background: #F9F9F9;
        font-weight: bold;
        font-size: 12px;
        line-height: 16px;
        color: #1D1929;
        margin-right: 5px;
        box-shadow: none !important;

        &.active {
            background-color: $blue;
            color: #fff;
        }

        span {
            color: #1D1929;
        }
    }
}

.top__table__style {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include mobile {
            flex-wrap: wrap;
    }

    .select2-container {
        @include mobile {
        margin-bottom: 10px;
        }
    }

    .form-group {
        margin-bottom: 0;
    }

    .btn__blue {
        height: 40px;
        margin-left: 10px;

        i {
            color: #fff;
            padding-right: 10px;
        }
    }

    .btn {

        // margin-left: 10px;
        @include mobile {
            margin-bottom: 10px;
        }
    }

    .custom {
        margin-right: auto;
    }

    .btn-success {
        margin-left: 10px;

        @include mobile {
            margin-bottom: 10px;
        }
    }

}

.for__reestr {
    input[type="checkbox"] {
        cursor: pointer;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    th,
    td {
        &:first-child {}
    }

    td {
        &:last-child {
            text-align: center;
            white-space: nowrap;
        }
    }

    th {
        text-align: center;

        input {
            display: block;
            width: 100%;
            background: #FFFFFF;
            border: 1px solid #D5D5D5;
            border-radius: 5px;
            height: 30px;
            font-size: 14px;
            padding: 0 7px;
            margin-top: 5px;
        }

        input[type="checkbox"] {
            width: auto;
        }

        select {
            width: 100%;
            max-width: 110px;
            margin-left: auto;
            margin-right: auto;
        }

        .select2-container {
            margin-top: 5px;
            width: 100% !important;
        }

    }

    .text-center {
        span {
            display: block;
        }
    }
}

span.approved {
    background: rgba(52, 199, 89, 0.1);
    border: 1px solid #34C759;
    border-radius: 5px;
    line-height: 20px;
    display: inline-block;
    padding: 0 10px;
    font-weight: 600;
    font-size: 12px;
    color: #34C759;
}

.select2-container {
    display: block;

    .select2-selection--single {
        height: 30px;
        line-height: 30px;
        border: 1px solid #D5D5D5;

        .select2-selection__arrow {
            height: 30px;
            width: 30px;
            top: 0;
            background: url('../images/down-small.svg') no-repeat center;
            background-size: 14px;

            @include mobile {
                height: 40px;
            }

            b {
                display: none;
            }
        }
    }
}

.graph {
    &.open {
        .mained {
            display: block;
        }
    }

    .form-group {
        margin-bottom: 6px;
        display: flex;
        align-items: center;
        padding: 0 20px;

        &:first-child {
            margin-top: 10px;
        }

        &:last-child {
            margin-bottom: 10px;
        }

        label {
            margin-bottom: 0;
            font-size: 16px;
            line-height: 150%;
            display: block;
            white-space: nowrap;
            width: 100%;
            cursor: pointer;

        }

        input {
            margin-right: 16px;
        }
    }

    h3 {
        padding: 10px 20px;
        background: #F9F9F9;
        font-weight: bold;
        font-size: 18px;
        line-height: 135%;
        letter-spacing: 0.01em;
    }

    .bottom {
        background: #F9F9F9;
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            max-width: calc(50% - 5px);
            width: 100%;
        }
    }
}

.graphed {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 3;
    margin-right: auto;

    .dropdown {
        margin-right: 10px;
    }
}

.mained {
    position: absolute;
    top: 0;
    left: 0%;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
    border-radius: 0.25rem;
    top: 100%;
    background-color: #fff;
    display: none;
}

.btn {
    background: #F9F9F9;
    border-radius: 8px;
    border: 0;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: $blue;
    font-weight: 600;
    font-size: 14px;
    line-height: 115%;
    letter-spacing: -0.01em;
    padding: 0 12px;
    margin: 0 5px;
    outline: none !important;
    box-shadow: none !important;

    &.edit {
        background: rgba(0, 60, 255, 0.05);
    }

    &.delete {
        background: rgba(244, 40, 41, 0.05);
    }

    &.list {
        color: #77757F;

        &:hover {
            color: #77757F;
        }

        img,
        i {
            margin-right: 6px;
        }
    }

    &-danger {
        background: #F42829;
        color: #fff !important;

        i {
            color: #fff !important;
        }
    }

    i {
        color: $blue;
        padding-right: 8px;
    }

    &:hover {
        color: $blue;
    }
}

.search {
    position: relative;
    height: 40px;
    border: 1px solid #D5D5D5;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 423px;

    button {
        border: 0;
        background: none;
        padding: 0;
        margin-right: 10px;

        i {
            color: #A5A4AA;
        }

    }

    input {
        border: 0;
        width: 100%;
        padding: 0;
        font-size: 14px;
        line-height: 140%;

        &::placeholder {
            color: #A5A4AA;
        }
    }
}

.custom {
    button {
        min-width: 52px;
        padding: 5px 10px;
        background: #F9F9F9;
        border-radius: 8px;
        font-weight: normal;
        font-size: 14px;
        color: #77757F;
        border: 0;
        position: relative;
        display: inline-flex;
        align-items: center;

        &:after {
            content: "";
            width: 6px;
            height: 6px;
            border: 2px solid #77757F;
            border-left: 0;
            border-top: 0;
            transform: rotate(45deg);
            display: block;
            margin-left: 10px;
            position: relative;
            top: -1px;
        }
    }
}

.chemic {
    &__title {
        margin-bottom: 30px;

        h1 {
            margin-bottom: 10px;
        }

        p {
            font-size: 14px;
            line-height: 140%;
            color: #A5A4AA;
            margin-bottom: 0px;
        }
    }

    &__top {
        margin-bottom: 20px;

        .btn__blue {
            img {
                margin-right: 10px;
            }
        }

        .select2-container {
            margin-right: 10px;

        }

        .select2-container .select2-selection--single {
            height: 40px;
            line-height: 40px;
            border-radius: 8px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            line-height: 40px;
            padding-right: 40px;
        }

        .select2-container .select2-selection--single .select2-selection__arrow {
            height: 40px;
            width: 40px;
        }

        select {
            width: 100%;
            max-width: 400px;
        }
    }

    input#datepicker {
        max-width: 78px;
    }

    label.btn__blue {
        margin-bottom: 0;
        cursor: pointer;
    }

    .btn__blue {
        white-space: nowrap;
    }

    .btn-success {
        margin-left: 10px;
    }

    table.chemic__table {

        td,
        th {
            text-align: center;
            border: 1px solid #D5D5D5;
        }

        tr {
            th {
                &:nth-child(1) {
                    background: #F9F9F9;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                }

                &:nth-child(2) {
                    background: #FFDE54;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                }
            }

            td {
                &:nth-child(1) {
                    background: #F9F9F9;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 19px;
                }

                &:nth-child(2) {
                    background: #FFDE54;
                    font-size: 14px;
                    line-height: 19px;
                    font-style: italic;
                }
            }
        }
    }

    table.dynamic__table {

        td,
        th {
            font-size: 14px;
            line-height: 19px;
            text-align: center;
            border: 1px solid #D5D5D5;

        }

        thead {
            th {
                background: #F9F9F9;
                font-weight: 600;
            }
        }

        tbody {
            td {
                .text-success {
                    color: #34C759;
                }
            }
        }

    }
}

.range__year {
    display: flex;
    align-items: center;
    border: 1px solid #D5D5D5;
    border-radius: 5px;
    height: 40px;
    max-width: 150px;
    flex: 0 0 150px;
    background: #fff url('../images/calendar.svg') no-repeat center right 11px;
    padding-right: 40px;

    input {
        border: 0;
        padding: 0;
        text-align: center;
        outline: none ! important;
        box-shadow: none ! important;
        background: none;
    }
}

input#datepicker {
    background: #fff url('../images/calendar.svg') no-repeat center right 11px;
    padding: 0 10px;
    height: 40px;
    min-width: 77px;
    border: 1px solid #D5D5D5;
    border-radius: 8px;
    cursor: pointer;
}

.btn-success {
    background: #34C759;
    border-radius: 8px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 12px;
    font-weight: 600;
    font-size: 14px;
    letter-spacing: -0.01em;
    border: 0;
    color: #fff;
    transition: all .15s;
    box-shadow: none !important;
    outline: none !important;

    &:hover {
        background-color: #34C7AA;
        color: #fff
    }

    img {
        margin-right: 10px;
    }

    i {
        color: #fff;
    }
}

.dynam {
    padding: 20px 0;
    margin-top: 30px;

    h3 {
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        letter-spacing: 0.01em;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        line-height: 150%;
        margin-bottom: 10px;
    }

    .graphic {
        img {
            width: 100%;
            height: auto;
        }
    }
}

// *******************************************************************


.media__section {}

.media__main {
    display: flex;
    justify-content: space-between;

    .search {
        margin-right: auto;
    }

    .nav {
        background: #F9F9F9;
        border-radius: 8px;
        padding: 20px;
        flex: 0 0 280px;
        margin-right: 30px;

        a {
            color: $blue;
            padding: 12px;
            height: 42px;
            border-radius: 8px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            justify-content: space-between;

            &[data-count]:after {
                content: attr(data-count);
                font-weight: bold;
                font-size: 12px;
                line-height: 18px;
                padding: 3px 6px;
                border-radius: 9px;
                background-color: $blue;
                color: #FFFFFF;
                text-align: center;
                display: block;
                margin-left: auto;
                margin-right: 0;
                order: 4;

            }

            i {
                color: #77757F;
                margin-right: 10px;
            }

            &.active {
                background-color: $blue;
                color: #fff;

                i {
                    color: #fff;
                }

                &[data-count]:after {
                    background-color: #fff;
                    color: $blue;
                }
            }
        }
    }

    .tab-content {
        width: 100%;
    }

    .tab-pane {
        width: 100%;
    }
}

.sort__list {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

    &.vertical {
        a {
            width: 100%;
            display: flex;
            align-items: center;
            border-bottom: 1px solid #E8E8EA;
            padding-bottom: 15px;

            img {
                flex: 0 0 48px;
                width: 48px;
                height: 48px;
                padding: 15px;
                margin-right: 15px;
                margin-bottom: 0;
            }

            p {
                margin-top: 0;
            }
        }
    }

    a {
        display: block;
        margin-right: 20px;
        margin-top: 30px;

        img {
            width: 118px;
            height: 118px;
            padding: 50px;
            background: #E8E8EA;
            margin-bottom: 15px;
            border-radius: 8px;
        }

        p {
            font-size: 14px;
            line-height: 140%;
            text-align: center;
            margin-bottom: 0;
        }
    }
}

#map {
    width: 100%;
    height: calc(100vh - 84px);
}

.map__section {
    margin-left: -30px;
    margin-right: -30px;
    width: calc(100% + 60px);
    flex: 0 0 calc(100% + 60px);
    position: relative;
}

.open__filter {
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    display: inline-flex;
    align-items: center;
    letter-spacing: 0.01em;
    background: #F9F9F9;
    padding: 15px 20px;
    position: absolute;
    z-index: 10;
    right: 20px;
    top: 20px;
    filter: drop-shadow(0px 6px 16px rgba(0, 0, 0, 0.25));
    border-radius: 8px;

    img {
        margin-right: 20px;
    }
}

#filter__toggle {
    cursor: pointer;
    font-weight: bold;
    font-size: 24px;
    line-height: 130%;
    display: flex;
    align-items: center;
    letter-spacing: 0.01em;
    background: #F9F9F9;
    padding: 20px;
    display: flex;
    align-items: center;

    img {
        margin-right: 20px;
    }
}

body {
    &.filter__active {
        .filter {
            transform: translateX(0%);

        }

    }
}

#map * {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
    /* Firefox 3.5+ */
    -webkit-filter: grayscale(100%);
    /* Chrome 19+ & Safari 6+ */
    filter: grayscale(100%);
}

.filter {
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.25);
    position: absolute;
    top: 0px;
    max-width: 320px;
    width: 100%;
    z-index: 11;
    right: 0;
    bottom: 0;
    height: calc(100vh - 84px);
    overflow-y: auto;
    background: #fff;
    transition: all .3s;
    transform: translateX(100%);
    padding-bottom: 60px;

    ul {
        li {
            margin-bottom: 4px;

            &.opened {
                span.first {
                    background: #E8E8EA !important;

                    &:after {
                        transform: translateY(-50%) rotate(-0deg);
                    }
                }
            }

            span.first {
                padding-right: 48px;
                position: relative;

                &:after {
                    content: "";
                    position: absolute;
                    right: 15px;
                    top: 50%;
                    width: 18px;
                    height: 18px;
                    background: url('../images/arrow_down.svg') no-repeat center;
                    background-size: 8px auto;
                    transform: translateY(-50%) rotate(-90deg);
                    transition: all .3s;
                }
            }

            .first,
            a {
                padding: 15px;
                display: flex;
                align-items: center;
                font-weight: 600;
                font-size: 14px;
                line-height: 115%;
                letter-spacing: -0.01em;
                color: $blue;
                height: 48px;
                transition: all .3s;
                cursor: pointer;
                background: #FFFFFF;
                border-radius: 8px;

                &[data-count]:before {
                    content: attr(data-count);
                    font-weight: bold;
                    font-size: 12px;
                    line-height: 18px;
                    padding: 3px 6px;
                    border-radius: 9px;
                    background-color: $blue;
                    color: #FFFFFF;
                    text-align: center;
                    display: block;
                    margin-left: auto;
                    margin-right: 15px;
                    transform: translateX(100%);
                    order: 4;

                }

                &:hover {
                    background: #E8E8EA;
                }

                img {
                    margin-right: 16px;
                }

                &.active {
                    color: #fff;
                    background-color: $blue;

                    svg {
                        path {
                            stroke: #fff;
                        }
                    }

                    &[data-count]:before {
                        color: $blue;
                        background-color: #fff;
                    }
                }

                &+.inner {
                    display: none;
                }

                &+.active {
                    .inner {
                        display: block;
                    }
                }
            }
        }

        .inner {
            padding-top: 4px;

            li {
                a {
                    padding: 10px 15px 10px 48px;
                    height: 36px;
                }
            }
        }
    }
}

div#tableModal {
    .modal-dialog {
        width: 100%;
        max-width: 770px;
    }
}

.modal__style {
    .modal-header {
        background: #F9F9F9;
        border-radius: 8px 8px 0px 0px;
        padding: 20px;
        padding-right: 40px;
    }

    .modal-content {
        border-radius: 8px;
        overflow: hidden;
    }

    .btn__blue {
        height: 40px;
    }

    button.close {
        padding-right: 0;

        span {
            font-size: 20px;
            color: #D4D3D6;
        }
    }

    .modal-body {
        padding: 10px;
    }

    .modal-footer {
        background: #F9F9F9;
    }

    .table__modal {
        tr {
            td {
                &:nth-child(1) {
                    text-align: right;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 150%;
                    padding: 5px 10px 5px;
                }

                &:nth-child(2) {
                    text-align: left;
                    background: #F9F9F9;
                    font-weight: normal;
                    font-size: 16px;
                    line-height: 150%;
                    padding: 5px 10px 5px;
                }
            }
        }
    }
}

.bottom__filter {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    left: 20px;
    bottom: 20px;
    right: 20px;

    a {
        // flex: 0 0 calc(50% - 9px);
        font-weight: 600;
        font-size: 12px;
        height: 28px;
        white-space: nowrap;
        width: 100%;

        &.btn {
            margin-right: 18px;
        }
    }
}

div#allPost {
    .modal-dialog {
        width: 100%;
        max-width: 781px;
    }

    .modal-body {
        padding: 0 !important;
    }

    .modal-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;

        button {
            width: calc((100% - 20px)/3);
            margin: 0;
            height: 40px;
        }
    }

    table {
        width: 100%;

        tr {
            &:hover {
                td {
                    background: #F9F9F9;

                    input {
                        &[disabled] {
                            background-color: #fff;
                        }

                    }
                }
            }
        }

        td {
            width: 100%;
            max-width: 50%;
            padding: 5px 12px;
            border-top: 1px solid #D5D5D5;
            border-bottom: 1px solid #D5D5D5;

            &:first-child {
                text-align: right;
                font-weight: bold;
                font-size: 16px;
                line-height: 150%;
            }
        }

        input {
            height: 44px;
            border: 1px solid #003CFF;
            border-radius: 8px;
            padding: 0 5px;
            transition: all .1s linear;
            min-width: inherit;
            background: #fff;
            text-align: center;
            width: 120px;
            font-size: 16px;

            &[disabled] {
                border-color: transparent;
                background: #F9F9F9;
            }
        }
    }
}

// *******************************************************************
#lookChange {
    .modal-dialog {
        width: 100%;
        max-width: 656px;

        .modal-body {
            padding: 20px;
        }

        table {
            width: 100%;
            text-align: center;

            thead {
                tr {
                    th {
                        background: #F9F9F9;
                        font-weight: bold;
                        font-size: 14px;
                        line-height: 140%;
                        color: #77757F;
                        border: 0;
                        text-align: center;
                    }
                }
            }

            tbody {
                tr {
                    td {
                        font-size: 16px;
                    }

                    &:hover {
                        td {
                            background: #F9F9F9;
                        }
                    }
                }
            }

            span.border {
                border: 1px solid #003CFF !important;
                border-radius: 8px;
                padding: 0 8px;
                text-align: center;
                min-width: 115px;
                font-weight: 600;
                font-size: 12px;
            }
        }
    }
}

// *******************************************************************
div#wells {
    .modal-dialog {
        max-width: 1236px;
        width: 100%;
    }

    ul#pills-tab {
        a {
            border-bottom: 1px solid #D5D5D5;
            border-radius: 0 !important;

            &.active {
                background: none !important;
                color: $blue;
                border-bottom: 2px solid $blue;
            }
        }
    }

    .modal-body {
        padding: 20px;
    }

    h2 {
        font-weight: bold;
        font-size: 24px;
        line-height: 130%;
        text-align: center;
        letter-spacing: 0.01em;
        font-feature-settings: 'liga'off;
        margin-bottom: 30px;
        color: #000000;
    }

    .well__chart {

        img {
            max-width: 100%;
            width: 100%;
        }
    }
}

// *******************************************************************